@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <link href="~/moban/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/moban/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="~/moban/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/moban/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <style>
        a {
            text-decoration:none;
            cursor:pointer;
        }
    </style>
</head>
<body id="login">
    <div class="container">

        <form class="form-signin text-center" action="index.html">
            <h2 class="form-signin-heading">登录</h2>
            <input type="text" name="Account" class="input-block-level" placeholder="用户名">
            <input type="password" name="PassWord" class="input-block-level" placeholder="密码">
            <label class="checkbox" style="text-align:left;">
                <input type="checkbox" name="IsRememberMe" value="remember-me"> 记住密码
            </label>
            <button class="btn btn-large btn-primary"; type="submit">登录</button>
            <a data-toggle="modal" data-target="#RegistForm">注册</a>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="RegistForm" tabindex="-1" role="dialog" aria-labelledby="RegistFormLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <script src="~/moban/vendors/jquery-1.9.1.min.js"></script>
    <script src="~/moban/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>