<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="E:\log\internal-nlog.txt">
  <!--autoReload：修改后自动加载，可能会有延迟-->
  <!--throwConfigExceptions：NLog日志系统抛出异常-->
  <!--internalLogLevel：内部日志的级别-->
  <!--internalLogFile：内部日志保存路径，日志的内容大概就是NLog的版本信息，配置文件的地址等等-->
  <!--输出日志的配置，用于rules读取-->
  <targets>
    <!--write logs to file-->
    <!--将日志写入文件中,fileName可以指定日志生成的路径-->
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/{shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  </targets>
  <rules>
    <!--路由顺序会对日志打印产生影响。路由匹配逻辑为顺序匹配。-->
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog>