@using Repository.Entity.Models.Base;
@model UserEntity;
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    List<DepartmentEntity> depts = ViewBag.Depts;

}


<link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
<link href="~/lib/bootstrap-fileinput/css/fileinput-rtl.css" rel="stylesheet" />

<script src="~/lib/bootstrap-fileinput/js/plugins/piexif.js"></script>
<script src="~/lib/bootstrap-fileinput/js/plugins/sortable.js"></script>
<script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
<script src="~/lib/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
    $(() => {
        $("#Photo").fileinput({
            language: 'zh',
            'theme': 'explorer-fas',
            dropZoneTitle:"拖拽文件到这里，或点击浏览按钮选择文件",
            'uploadUrl': '#',
            overwriteInitial: false,
            initialPreviewAsData: true,
            showUpload: false,
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            maxFileSize: 4000,
            fileActionSettings: {                               // 在预览窗口中为新选择的文件缩略图设置文件操作的对象配置
                showUpload: false,                                   // 显示上传按钮
            },
        }
        );
    });

</script>
<form class="form-horizontal" method="post" asp-action="Register" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Account" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <input asp-for="Account" required class="form-control" placeholder="6至24位" />
            <span asp-validation-for="Account" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PassWord" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <input asp-for="PassWord" required class="form-control" placeholder="6至24位">
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <input asp-for="UserName" required class="form-control" placeholder="">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <select asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" asp-for="Gender"></select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <input asp-for="Phone" class="form-control" placeholder="">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DeptId" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <select asp-items="@(new SelectList(depts,"ID","DeptName"))" required class="form-control" asp-for="DeptId"></select>
            <span asp-validation-for="DeptId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="col-sm-5 control-label"></label>
        <div class="col-sm-3">
            <input asp-for="Photo" type="file">

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </div>
</form>
