<div class="container">
    <section class="content-header">
        <h1>
            <span id="MenuHeaderText"></span>
            <small id="MenuHeaderMemark"></small>
        </h1>
        <ol class="breadcrumb hidden float-lg-right">
            <li><a href="#"><i class="fa fa-dashboard"></i> 等级</a></li>
            <li class="active">用户</li>
        </ol>
    </section>
</div>