<section class="content-header">
    <h1>
        <span id="MenuHeaderText"></span>
        <small id="MenuHeaderMemark"></small>
    </h1>
    <ol class="breadcrumb hidden">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<script src="~/Scripts/AdminLayout/ContentHeader.js"></script>