<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>.NET CORE Demo</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/moban/assets/styles.css" rel="stylesheet" media="screen">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/moban/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
