<!DOCTYPE html>
<html class="no-js">
<head>
    <title>.NET CORE Demo</title>
    <!-- Bootstrap -->
    <link href="~/moban/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/moban/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="~/moban/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
    <link href="~/moban/assets/styles.css" rel="stylesheet" media="screen">
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
    @RenderSection("styles", false)


    <script src="~/moban/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!--/.fluid-container-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/moban/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="~/moban/assets/scripts.js"></script>
    @RenderSection("scripts", false)


    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    @{ await Html.RenderPartialAsync("_HeaderLayout");}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2" id="sidebar">
                @{ await Html.RenderPartialAsync("_MenuLayout");}
            </div>
            <div class="span10" id="content">
                <!--/span-->
                @RenderBody()
            </div>
        </div>
        <hr>
        @{ await Html.RenderPartialAsync("_FooterLayout");}
    </div>

    <script>
        $(function () {
            // Easy pie charts
            $('.chart').easyPieChart({ animate: 1000 });
        });</script>
</body>
</html>