<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 internalLogLevel="off" >
  <!--autoReload：修改后自动加载，可能会有延迟-->
  <!--throwConfigExceptions：NLog日志系统抛出异常-->
  <!--internalLogLevel：内部日志的级别-->
  <!--internalLogFile：内部日志保存路径，日志的内容大概就是NLog的版本信息，配置文件的地址等等-->
  <!--输出日志的配置，用于rules读取--><!--
  <targets>
      --><!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}-${shortdate}.txt"--><!--
      <target name="log_file" xsi:type="File"
              fileName="${basedir}/logs/${logger}/${shortdate}/${level}.txt"
              layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
              archiveFileName="${basedir}/archives/${logger}-${level}-${shortdate}-{#####}.txt"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="true"
              keepFileOpen="false" />
    --><!--使用可自定义的着色将日志消息写入控制台--><!--
    <target name="colorConsole" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]:${message} ${exception:format=message}" />
  </targets>

  --><!--规则配置,final - 最终规则匹配后不处理任何规则--><!--
  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="log_file" final="true" />
    <logger name="*" minlevel="Info" writeTo="log_file" />
    <logger name="*" minlevel="Debug" writeTo="colorConsole" />
  </rules>-->

  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />
	  <!--保存至文件-->
	  <target name="error_file" xsi:type="File" maxArchiveFiles="30"
						fileName="${basedir}/logs/${logger}/${shortdate}/${level}.txt"
						layout="${longdate} | ${level:uppercase=false:padding=-5} ${newline} ${message} ${onexception:${exception:format=tostring} ${newline} " />-->
  </targets>
  <rules>
    <!--分为Trace、Debug、Info、Error、Fatal五个等级-->
    <!--<logger name="*" writeTo="console" />-->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="error_file" />
  </rules>

</nlog>

<!--以下为详细 layout配置
${asp-application} - ASP Application variable.
${newline}
${aspnet-application} - ASP.NET Application variable.
${newline}
${aspnet-request} - ASP.NET Request variable.
${newline}
${aspnet-session} - ASP.NET Session variable.
${newline}
${aspnet-sessionid} - ASP.NET Session ID.
${newline}
${aspnet-user-authtype} - ASP.NET User variable.
${newline}
${aspnet-user-identity} - ASP.NET User variable.
${newline}
${asp-request} - ASP Request variable.
${newline}
${asp-session} - ASP Session variable.
${newline}
${assembly-version} - The version of the executable in the default application domain.
${newline}
${basedir} - The current application domain's base directory.
${newline}
${callsite} - The call site (class name, method name and source information).
${newline}
${counter} - A counter value (increases on each layout rendering).
${newline}
${date} - Current date and time.
${newline}
${document-uri} - URI of the HTML page which hosts the current Silverlight application.
${newline}
${environment} - The environment variable.
${newline}
${event-context} - Log event context data.
${newline}
${exception} - Exception information provided through a call to one of the Logger.*Exception() methods.
${newline}
${file-contents} - Renders contents of the specified file.
${newline}
${gc} - The information about the garbage collector.
${newline}
${gdc} - Global Diagnostic Context item. Provided for compatibility with log4net.
${newline}
${guid} - Globally-unique identifier (GUID).
${newline}
${identity} - Thread identity information (name and authentication information).
${newline}
${install-context} - Installation parameter (passed to InstallNLogConfig).
${newline}
${level} - The log level.
${newline}
${literal} - A string literal.
${newline}
${log4jxmlevent} - XML event description compatible with log4j, Chainsaw and NLogViewer.
${newline}
${logger} - The logger name.
${newline}
${longdate} - The date and time in a long, sortable format yyyy-MM-dd HH:mm:ss.mmm.
${newline}
${machinename} - The machine name that the process is running on.
${newline}
${mdc} - Mapped Diagnostic Context item. Provided for compatibility with log4net.
${newline}
${message} - The formatted log message.
${newline}
${ndc} - Nested Diagnostic Context item. Provided for compatibility with log4net.
${newline}
${newline} - A newline literal.
${newline}
${nlogdir} - The directory where NLog.dll is located.
${newline}
${performancecounter} - The performance counter.
${newline}
${processid} - The identifier of the current process.
${newline}
${processinfo} - The information about the running process.
${newline}
${processname} - The name of the current process.
${newline}
${processtime} - The process time in format HH:mm:ss.mmm.
${newline}
${qpc} - High precision timer, based on the value returned from QueryPerformanceCounter() optionally converted to seconds.
${newline}
${registry} - A value from the Registry.
${newline}
${shortdate} - The short date in a sortable format yyyy-MM-dd.
${newline}
${sl-appinfo} - Information about Silverlight application.
${newline}
${specialfolder} - System special folder path (includes My Documents, My Music, Program Files, Desktop, and more).
${newline}
${stacktrace} - Stack trace renderer.
${newline}
${tempdir} - A temporary directory.
${newline}
${threadid} - The identifier of the current thread.
${newline}
${threadname} - The name of the current thread.
${newline}
${ticks} - The Ticks value of current date and time.
${newline}
${time} - The time in a 24-hour, sortable format HH:mm:ss.mmm.
${newline}
${windows-identity} - Thread Windows identity information (username).
${newline}-->